<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thecodecity.teenyexamples">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeenyExamples"
        android:usesCleartextTraffic="true">
        <activity android:name=".ActivityRvProducts" />
        <activity android:name=".ActivityHorizontalRV" />
        <activity android:name=".ActivityNoActionBar" />
        <activity android:name=".ActivityTTS" />
        <activity android:name=".ActivityMusicPlayStream" />
        <activity
            android:name=".ActivityDownload"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.BackgroundMusicService" />
    </application>

</manifest>